.search-area {
    width: 1251px;
    height: 270px;
    margin: 55px 100px 515px 90px;

    background: #E6F7FF;
    border-radius: 16px;
}

.text-title-search {
    padding: 66px 0 0 94px;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
}

.search-box {
    width: 676px;
    height: 40px;
    margin-top: 15px;
    margin-left: 94px;

}

.search-area-button {
    padding-left: 94px;
}